.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  font-family: sans-serif, 'Roboto';
  color: white;
  min-height: 100vh;
}

.during-popup{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}